.container {
  margin: 1%; 
  position: relative; 
  text-align: center;
}
h1{
  text-align: center;
  font-size: 3rem;
}
input {
  border: 1px solid grey ;
  border-radius: .5rem;
  padding: .25rem .2rem;
  margin: .5rem;
  width: 300px;

}
button{
  border-radius: .5rem;
  border: 1px solid gold;
  background-color: #fff;
  color:gold;
  padding: 0.25rem .2rem;
  width: 300px;
  margin: .5rem;
  outline: none;
}
button:hover{
  color: #fff;
  background-color: gold;
  border: 1px solid #fff;

}
img{
  width: 400px;
  height: 350px;
  /* margin: 110px; */
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.topText{
    
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: xx-large;
    text-transform: uppercase;
    font-weight: bolder;
    font-family: 'Courier New', Courier, monospace;
    color:#fff;
    white-space: wrap;
    background-color: #000;


}
.bottomText{
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: xx-large;
    text-transform: uppercase;
    font-weight: bolder;
    font-family: 'Courier New', Courier, monospace;
    white-space: wrap;
    color:#fff;
    background-color: #000;

}

